<h1 class="text-center mt-4">View Image</h1>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-body">
          <%= image_tag(@image.url, alt: '', id: @image.id, class: 'card-image') %>
        </div>
        <div class="card-footer text-muted">
          <p>
            <small>
              Tags: <%= safe_join(@image.tags.map { |tag| link_to(tag.name, images_path(tag: tag.name), class: 'js-tag') }, ', ') %>
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
